<!DOCTYPE html>
<html>
<head>
    <title>Blockchain History</title>
</head>
<body>
    <h1>Blockchain History</h1>
    <% blockchain.chain.forEach(block => { %>
        <div>
            <p>Block #<%= block.index %> (Timestamp: <%= new Date(block.timestamp).toLocaleString() %>)</p>
            <p>Winner: <%= block.solver %></p>
            <p>Problems:</p>
            <ul>
                <% block.problemDetails.forEach(detail => { %>
                    <li><%= detail.description %> (User: <%= detail.user %>)</li>
                <% }) %>
            </ul>
            <p>Solutions:</p>
            <ul>
                <% block.solutions.forEach(sol => { %>
                    <li>Solver: <%= sol.solver %> - Welfare Scores: <%= JSON.stringify(sol.welfareScores) %></li>
                <% }) %>
            </ul>
            <p>Reward Balances: <%= JSON.stringify(block.solversState) %></p>
            <p>User Responses: <%= JSON.stringify(block.userResponses) %></p>
            <p>Winner Selection Scores: <%= JSON.stringify(Object.fromEntries(Object.entries(block.solversState).map(([k, v]) => [k, v.winnerSelectionScore]))) %></p>
        </div>
        <hr>
    <% }) %>
    <a href="javascript:window.close()">Close Window</a>
</body>
</html>